{% extends "Layout.html" %}
{% block title %}Parameter Form{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/form.css') }}">
{% endblock %}
{% block navbar %}
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('get_main_page') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
    <a href="{{ url_for('upload_file_page') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Upload</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large  w3-white">Loss Function Analysis</a>
    {% if user %}
    <div class="w3-bar-item w3-button w3-hide-small w3-padding-large  w3-white bar-right">{{user}}</div>
    <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white bar-right">Logout</a>
    <a href="{{ url_for('get_projects_solver') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white bar-right">Solver</a>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block body %}
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
     <h1>Set Test Parameters</h1>
      <form method=post enctype=multipart/form-data id="mainform" class="form-style-1">
                <label for="gaussTest">Replace with Gauss curve <div class="required">*</div></label>
                <input type="checkbox" name="gaussTest" value="True" id="gaussTest" {% if formInfo and formInfo['gauss'] == True %}checked{% endif %}><br>
                <label for="retCorrTest">Retention time correction <div class="required">*</div></label>
                <input type="checkbox" name="retCorrTest" value="True" id="retCorrTest" oninput="retTimeTresholdInput()" {% if formInfo and formInfo['retCorr'] == True %}checked{% endif %}>
                <div id="retCorrTresholdDiv" style="display: none;">
                    <label for="retCorrThreshold">Retention time zero threshold<div class="required">*</div></label>
                    <input type="number" id="retCorrThreshold" name="retCorrThreshold" step="any">
                </div><br>
                <label for="massBalTest">Mass balance correction <div class="required">*</div></label>
                <input type="checkbox" name="massBalTest" value="True" id="massBalTest" {% if formInfo and formInfo['massBal'] == True %}checked{% endif %}><br>
                <label for="lossFuncTest">Loss function <div class="required">*</div></label>
                <select name="lossFuncTest" id="lossFuncTest">
                  <option value="Simple" {% if formInfo and formInfo['lossFunc'] == "Simple" %}selected{% endif %}>Simple</option>
                  <option value="Squares" {% if formInfo and formInfo['lossFunc'] == "Squares" %}selected{% endif %}>Squares</option>
                  <option value="LogSimple" {% if formInfo and formInfo['lossFunc'] == "LogSimple" %}selected{% endif %}>LogSimple</option>
                  <option value="LogSquares" {% if formInfo and formInfo['lossFunc'] == "LogSquares" %}selected{% endif %}>LogSquares</option>
                </select><br>
                <label for="solverTest">Solver <div class="required">*</div></label>
                <select name="solverTest" id="solverTest" oninput="formSolverChangeForTest()">
                  <option value="Lin" {% if formInfo and formInfo['solver'] == "Lin" %}selected{% endif %}>Linear</option>
                  <option value="Nonlin" {% if formInfo and formInfo['solver'] == "Nonlin" %}selected{% endif %}>Non linear</option>
                </select><br>
                <label for="factorTest">Factor <div class="required">*</div></label>
                <select name="factorTest" id="factorTest">
                  <option value="1" {% if formInfo and formInfo['factor'] == 1 %}selected{% endif %}>1</option>
                  <option value="2" {% if formInfo and formInfo['factor'] == 2 %}selected{% endif %}>1/maximalOutputConc</option>
                  <option value="3" {% if formInfo and formInfo['factor'] == 3 %}selected{% endif %}>1/maximalOutputConc^2</option>
                  <option value="4" {% if formInfo and formInfo['factor'] == 4 %}selected{% endif %}>1/feedConc</option>
                  <option value="5" {% if formInfo and formInfo['factor'] == 5 %}selected{% endif %}>1/feedConc^2</option>
                  <option value="6" {% if formInfo and formInfo['factor'] == 6 %}selected{% endif %}>1/feedMass</option>
                  <option value="7" {% if formInfo and formInfo['factor'] == 7 %}selected{% endif %}>1/feedMass^2</option>
                </select><br><br>
                <label for="porosityTest">Porosity <div class="required">*</div></label>
                <input type="number" id="porosityTest" name="porosityTest" min="0.01" max="1" step="any"><br>
                  <div id="nonLinTest"></div>
                <label for="componentTest">Component <div class="required">*</div></label>
                 <select name="componentTest" id="componentTest">
                  {% for comp in compList %}
                     <option value="{{comp}}">{{comp}}</option>
                  {% endfor%}
                </select><br>
                  <div id="paramsTest">
                      <label for="KStartTest">Henry constant interval <div class="required">*</div></label>
                      <input type="number" id="KStartTest" name="KStartTest" min="0" step="any"> - <input type="number" id="KEndTest" name="KEndTest" min="0" step="any"><br>
                      <label for="KStepTest">Henry constant step <div class="required">*</div></label>
                      <input type="number" id="KStepTest" name="KStepTest" min="0" step="any"><br>
                      <label for="DStartTest">Dispersion coefficient interval <div class="required">*</div></label>
                      <input type="number" id="DStartTest" name="DStartTest" min="0" step="any"> - <input type="number" id="DEndTest" name="DEndTest" min="0" step="any"><br>
                      <label for="DStepTest">Dispersion coefficient initial guess for {{comp}} <div class="required">*</div></label>
                      <input type="number" id="DStepTest" name="DStepTest" min="0" step="any"><br>
                  </div>
          <a type="button" onclick="showGraph()" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Graph</a>
          <a type="button" id="newAngleButton" onclick="newAngle()" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" style="display: none;">New Angle</a>
          <a type="button" id="downloadMatrixButton" onclick="downloadMatrix()" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" style="display: none;">Download Matrix</a>
        <a href="{{ url_for('get_projects_test2') }}" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Manual Estimation</a>
          <input type="submit" value="Optimization" formaction="{{ url_for('post_projects_test_continue') }}" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">
          <iframe id="invis_iframe" style="display:none;"></iframe>
      </form>
      <div id="imgdiv">
      </div>
  </div>
</div>
<script type="text/javascript">
    formSolverChangeForTest()
    retTimeTresholdInput()
    {% if formInfo and formInfo['porosity'] %}
        document.getElementById("porosityTest").value = {{formInfo['porosity']}}
    {% endif %}
    {% if formInfo and formInfo['retCorrThreshold'] %}
        document.getElementById("retCorrThreshold").value = {{formInfo['retCorrThreshold']}}
    {% endif %}
    {% if formInfo %}
    function fillSavedVals(){
        let component = document.getElementById("componentTest").value
        {% for comp in compList %}
        if(component == "{{comp}}"){
            document.getElementById("KStartTest").value = {% if formInfo[comp + "KStart"] %}{{ formInfo[comp + "KStart"] }}{% else %}""{% endif %}
            document.getElementById("KEndTest").value = {% if formInfo[comp + "KEnd"] %}{{ formInfo[comp + "KEnd"] }}{% else %}""{% endif %}
            document.getElementById("KStepTest").value = {% if formInfo[comp + "KStep"] %}{{ formInfo[comp + "KStep"] }}{% else %}""{% endif %}
            document.getElementById("DStartTest").value = {% if formInfo[comp + "DStart"] %}{{ formInfo[comp + "DStart"] }}{% else %}""{% endif %}
            document.getElementById("DEndTest").value = {% if formInfo[comp + "DEnd"] %}{{ formInfo[comp + "DEnd"] }}{% else %}""{% endif %}
            document.getElementById("DStepTest").value = {% if formInfo[comp + "DStep"] %}{{ formInfo[comp + "DStep"] }}{% else %}""{% endif %}
        }
        {% endfor %}
         let sovler = document.getElementById("solverTest").value
         if(solver == "Nonlin"){
             document.getElementById("saturationTest").value = {% if formInfo["saturation"] %}{{ formInfo["saturation"] }}{% else %}""{% endif %}
         }
    }
    fillSavedVals()
    {% endif %}
</script>
{% endblock %}