{% extends "Layout.html" %}
{% block title %}Parameter Form{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/form.css') }}">
{% endblock %}
{% block navbar %}
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('get_main_page') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
    <a href="{{ url_for('upload_file_page') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Upload</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large  w3-white">Test2</a>
    {% if user %}
    <div class="w3-bar-item w3-button w3-hide-small w3-padding-large  w3-white bar-right">{{user}}</div>
    <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white bar-right">Logout</a>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block body %}
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
     <h1>Set Test Parameters</h1>
      <form method=post enctype=multipart/form-data id="mainform" class="form-style-1">
                <label for="gaussTest">Replace with Gauss curve <div class="required">*</div></label>
                <input type="checkbox" name="gaussTest" value="True" id="gaussTest" {% if formInfo and formInfo['gauss'] == True %}checked{% endif %}><br>
                <label for="retCorrTest">Retention time correction <div class="required">*</div></label>
                <input type="checkbox" name="retCorrTest" value="True" id="retCorrTest" oninput="retTimeTresholdInput()" {% if formInfo and formInfo['retCorr'] == True %}checked{% endif %}>
                <div id="retCorrTresholdDiv" style="display: none;">
                    <label for="retCorrThreshold">Retention time zero threshold<div class="required">*</div></label>
                    <input type="number" id="retCorrThreshold" name="retCorrThreshold" step="0.000001">
                </div><br>
                <label for="massBalTest">Mass balance correction <div class="required">*</div></label>
                <input type="checkbox" name="massBalTest" value="True" id="massBalTest" {% if formInfo and formInfo['massBal'] == True %}checked{% endif %}><br>
                <label for="solverTest">Choose a solver <div class="required">*</div></label>
                <select name="solverTest" id="solverTest" oninput="formSolverChangeForTest()">
                  <option value="Lin" {% if formInfo and formInfo['solver'] == "Lin" %}selected{% endif %}>Linear</option>
                  <option value="Nonlin" {% if formInfo and formInfo['solver'] == "Nonlin" %}selected{% endif %}>Non linear</option>
                </select><br><br>
                <label for="componentTest">Choose a Component <div class="required">*</div></label>
                 <select name="componentTest" id="componentTest" onchange="formCompChangeForTest2()">
                  {% for comp in compList %}
                     <option value="{{comp}}" {% if formInfo and formInfo['comp2'] == comp %}selected{% endif %}>{{comp}}</option>
                  {% endfor %}
                 </select>
                  {% for comp in compList %}
                    <div id="expListDiv{{comp}}" style="display:none;" class="expListDiv">
                     <label for="expList{{comp}}">Select Experiment for {{comp}} <div class="required">*</div></label>
                     <select name="expList{{comp}}" id="expList{{comp}}">
                     {% for exp in compExpDict[comp] %}
                         <option value="{{loop.index0}}" {% if formInfo and formInfo['exp' + comp] == loop.index0 %}selected{% endif %}>{{exp}}</option>
                     {% endfor %}
                     </select>
                    </div>
                  {% endfor %}
                </select><br>
                  <div id="paramsTest">
                      <label for="porosityTest">Choose a Porosity <div class="required">*</div></label>
                      <input type="number" id="porosityTest" name="porosityTest" min="0.01" max="1" step="0.01"><br>
                      <div id="nonLinTest"></div>
                      <label for="KTest">Choose a Henry constant <div class="required">*</div></label>
                      <input type="number" id="KTest" name="KTest" min="0" step="1"><br>
                      <label for="DTest">Choose a Dispersion coeficient <div class="required">*</div></label>
                      <input type="number" id="DTest" name="DTest" min="0" step="1"><br>
                  </div>
          <a type="button" onclick="showGraph2()" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Graph</a>
        <a href="{{ url_for('get_projects_test') }}" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Test</a>
          <input type="submit" value="Continue" formaction="{{ url_for('post_projects_test2_continue', id = id) }}" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">
      </form>
      <div id="imgdiv">
      </div>
  </div>
</div>
<script type="text/javascript">
    formSolverChangeForTest()
    formCompChangeForTest2()
    retTimeTresholdInput()
    {% if formInfo and formInfo['porosity'] %}
        document.getElementById("porosityTest").value = {{formInfo['porosity']}}
    {% endif %}
    {% if formInfo %}
    function fillSavedVals(){
        let component = document.getElementById("componentTest").value
        {% for comp in compList %}
        if(component == "{{comp}}"){
            document.getElementById("KTest").value = {% if formInfo[comp + "K"] %}{{ formInfo[comp + "K"] }}{% else %}0{% endif %}
            document.getElementById("DTest").value = {% if formInfo[comp + "D"] %}{{ formInfo[comp + "D"] }}{% else %}0{% endif %}
        }
        {% endfor %}
    }
    fillSavedVals()
    {% endif %}
</script>
{% endblock %}