{% extends "Layout.html" %}
{% block title %}Main page{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/form.css') }}">
{% endblock %}
{% block navbar %}
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('get_main_page') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large  w3-white">Registration</a>
    {% if user %}
    <div class="w3-bar-item w3-button w3-hide-small w3-padding-large  w3-white bar-right">{{user}}</div>
    <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white bar-right">Logout</a>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block body %}
<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  {% if not user %}
  <h1 class="w3-margin w3-jumbo">REGISTER</h1>
  <form action='/register' method='POST' class="form-style-1">
    <input type='text' name='username' id='username' placeholder='username'/><br><br>
    <input type='password' name='password' id='password' placeholder='password'/><br>
    <input type='submit' name='submit' value="Sign in" class="w3-button w3-black w3-padding-large w3-large w3-margin-top"/>
  </form>
  {% if badRegistration %}<p>{{badRegistration}} Try again.</p>{% endif %}
  {% endif %}
</header>
{% endblock %}
