{% extends "Layout.html" %}
{% block title %}Result{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/form.css') }}">
{% endblock %}
{% block navbar %}
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar siemens-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large siemens-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('get_main_page') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
    <a href="{{ url_for('upload_file_page') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Start</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large  w3-white">Result</a>
    {% if user %}
    <div class="w3-bar-item w3-button w3-hide-small w3-padding-large  w3-white bar-right">{{user}}</div>
    <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white bar-right">Logout</a>
    <a href="{{ url_for('get_projects_result_list') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white bar-right">Results</a>
    <a href="{{ url_for('get_projects_solver') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white bar-right">Solver Settings</a>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block body %}

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
     <h1>Results{% if name %} of {{name}}{% endif %}</h1>
    <div id="resultDiv">
    {% if result != "-" %}
      <p id="timer">Run time: <div class="boldText">{{timer}}</div></p>
      {% if result["optimparams"]["optimType"] == "bilevel" %}
      <p id="finalPorosity">Final porosity: <div class="boldText">{{result["porosity"]}}</div>({{result["optimparams"]["porosityIntervals"]["init"]}}&nbsp;:&nbsp;{{result["optimparams"]["porosityIntervals"]["range"][0]}}-{{result["optimparams"]["porosityIntervals"]["range"][1]}})</p>
      {% endif %}
      <p id="finalLossFuncVal">Final loss function value: <div class="boldText">{{result["lv1lossfunctionval"]}}</div></p><br>
        <table>
          <thead>
            <tr>
              <th>Component</th>
              {% if result["optimparams"]["optimType"] == "singlelevel" %}
              <th>Porosity</th>
              {% endif %}
              <th>K</th>
              <th>D</th>
              {% if result["optimparams"]["solver"] == "Nonlin" %}
              <th>Q</th>
              {% endif %}
              <th>Loss Function Value</th>
            </tr>
          </thead>
          <tbody>
            {% for comp in compList %}
            {% set paramIndex = 0 %}
            <tr>
              <td>{{comp}}</td>
              {% if result["optimparams"]["optimType"] == "singlelevel" %}
              <td><div class="boldText">{{result["compparams"][comp][paramIndex]|round(2)}}</div>({{result["optimparams"]["KDIntervals"][comp]["pinit"]}}&nbsp;:&nbsp;{{result["optimparams"]["KDIntervals"][comp]["prange"][0]}}-{{result["optimparams"]["KDIntervals"][comp]["prange"][1]}})</td>
              {% set paramIndex = paramIndex + 1 %}
              {% endif %}
              <td><div class="boldText">{{result["compparams"][comp][paramIndex]|round(2)}}</div>({{result["optimparams"]["KDIntervals"][comp]["kinit"]}}&nbsp;:&nbsp;{{result["optimparams"]["KDIntervals"][comp]["krange"][0]}}-{{result["optimparams"]["KDIntervals"][comp]["krange"][1]}})</td>
              {% set paramIndex = paramIndex + 1 %}
              <td><div class="boldText">{{result["compparams"][comp][paramIndex]|round(2)}}</div>({{result["optimparams"]["KDIntervals"][comp]["dinit"]}}&nbsp;:&nbsp;{{result["optimparams"]["KDIntervals"][comp]["drange"][0]}}-{{result["optimparams"]["KDIntervals"][comp]["drange"][1]}})</td>
              {% set paramIndex = paramIndex + 1 %}
              {% if result["optimparams"]["solver"] == "Nonlin" %}
              <td><div class="boldText">{{result["compparams"][comp][paramIndex]|round(2)}}</div>({{result["optimparams"]["KDIntervals"][comp]["qinit"]}}&nbsp;:&nbsp;{{result["optimparams"]["KDIntervals"][comp]["qrange"][0]}}-{{result["optimparams"]["KDIntervals"][comp]["qrange"][1]}})</td>
              {% endif %}
              <td><div class="boldText">{{result["lv2lossfunctionvals"][comp]|round(2)}}</div></td>
            </tr>
            {% endfor %}
          </tbody>
        </table><br>
      <div id="optimsettingsInfo">
        <p id="optimType">Optimization type: <div class="boldText">
        {% if result["optimparams"]["optimType"] == "singlelevel"%}
          Single level
        {% elif result["optimparams"]["optimType"] == "bilevel"%}
          Bilevel
        {% endif %}
        </div></p>
        <p id="lv1optim">Level 1 optimization algorithm: <div class="boldText">
        {% if result["optimparams"]["lvl1optim"]["algorithm"] == "1"%}
          Brute Force
        {% elif result["optimparams"]["lvl1optim"]["algorithm"] == "2"%}
          Nelder-Mead
        {% elif result["optimparams"]["lvl1optim"]["algorithm"] == "3"%}
          SHGO
        {% elif result["optimparams"]["lvl1optim"]["algorithm"] == "4"%}
          Powell
        {% endif %}
        </div></p>
        <p id="lv1settings">Level 1 algorithm settings: <div class="boldText">
        {% for key, val in result["optimparams"]["lvl1optim"]["settings"].items()%}
            {{key}}:&nbsp;&nbsp;&nbsp;{{val}}
        {% endfor %}
        </div></p><br>
        <p id="lv2optim">Level 2 optimization algorithm: <div class="boldText">
        {% if result["optimparams"]["lvl2optim"]["algorithm"] == "1"%}
          Brute Force
        {% elif result["optimparams"]["lvl2optim"]["algorithm"] == "2"%}
          Nelder-Mead
        {% elif result["optimparams"]["lvl2optim"]["algorithm"] == "3"%}
          SHGO
        {% elif result["optimparams"]["lvl2optim"]["algorithm"] == "4"%}
          Powell
        {% endif %}
        </div></p>
        <p id="lv2settings">Level 2 algorithm settings: <div class="boldText">
        {% for key, val in result["optimparams"]["lvl2optim"]["settings"].items()%}
            {{key}}:&nbsp;&nbsp;&nbsp;{{val}}
        {% endfor %}
        </div></p><br>
      </div>
      <div id="additionalInfoDiv" {% if result == '-' %}style="display: none;"{% endif %}>
        <h2>Show loss function value progress</h2>
        <form method=post enctype=multipart/form-data id="mainform" class="form-style-1">
          <label for="componentTest">Choose a Component</label>
          <select name="componentTest" id="componentTest" onchange="formCompChangeForTest2()">
            {% for comp in compList %}
            <option value="{{comp}}">{{comp}}</option>
            {% endfor %}
            <option value="all">All</option>
          </select><br>
          {% for comp in compList %}
          <div id="expListDiv{{comp}}" {% if loop.index0 != 0 %}style="display:none;"{% endif %} class="expListDiv">
            <label for="expList{{comp}}">Select Experiment for {{comp}} <div class="required">*</div></label>
            <select name="expList{{comp}}" id="expList{{comp}}">
              {% for exp in compExpDict[comp] %}
              <option value="{{exp}}">{{exp}}</option>
              {% endfor %}
            <option value="all">All</option>
            </select>
          </div>
          {% endfor %}
          <a type="button" onclick="showGraph3()" class="w3-button siemens-blue w3-padding-large w3-large w3-margin-top w3-round">Graph</a>
        </form>
      <div id="imgdiv">
      </div>
      </div>

      <div id="additionalInfoDiv2" {% if result == '-' %}style="display: none;"{% endif %}>
        <h2>Compare experimental data with result</h2>
        <form method=post enctype=multipart/form-data id="mainform2" class="form-style-1">
          <label for="expList2">Select Experiment <div class="required">*</div></label>
          <select name="expList2" id="expList2" onchange="formExpChangeForResult('expList2', 'compListDiv2')">
            {% for exp, val in expDict.items() %}
            <option value="{{loop.index0}}">{{exp}}</option>
            {% endfor %}
          </select>
          {% for exp, val in expDict.items() %}
            <div id="compListDiv2{{loop.index0}}" {% if loop.index0 != 0 %}style="display:none;"{% endif %} class="compListDiv2">
              <label for="componentTest2{{loop.index0}}">Choose a Component for {{exp}}</label>
              <select name="componentTest2{{loop.index0}}" id="componentTest2{{loop.index0}}">
                {% for comp in val %}
                <option value="{{loop.index0}}">{{comp}}</option>
                {% endfor %}
                <option value="all">All</option>
              </select><br>
            </div>
          {% endfor %}
          <h4>Preprocess options</h4>
          <label for="gauss">Replace with asymmetric Gauss curve <div class="required">*</div></label>
          <input type="checkbox" name="gauss" value="True" id="gauss"><br>
          <label for="retCorr">Retention time correction <div class="required">*</div></label>
          <input type="checkbox" name="retCorr" value="True" id="retCorr" oninput="retTimeTresholdInput()">
           <div id="retCorrTresholdDiv" style="display: none;">
              <label for="retCorrThreshold">Retention time zero threshold<div class="required">*</div></label>
              <input type="number" id="retCorrThreshold" name="retCorrThreshold" step="any">
           </div><br>
          <label for="massBal">Mass balance correction <div class="required">*</div></label>
          <input type="checkbox" name="massBal" value="True" id="massBal"><br>
            <a type="button" onclick="showGraph2('mainform2', '/rescomp', 'imgdiv2', 'downloadMatrixButton')" class="w3-button siemens-blue w3-padding-large w3-large w3-margin-top w3-round">Graph</a>
          <a type="button" id="downloadMatrixButton" onclick="downloadMatrix('graphImg2')" class="w3-button siemens-blue w3-padding-large w3-large w3-margin-top w3-round" style="display: none;">Download Result</a>
          <iframe id="invis_iframe" style="display:none;"></iframe>
        </form>
      <div id="imgdiv2">
      </div>
      </div>

    {% else %}
    Working<div id="dotsDiv" class="inline">...</div>
    {% endif %}
      <br><br>
    </div>
  </div>
</div>
<script type="text/javascript">
    {% if result == "-" %}
      getResult()
    {% endif %}
    retTimeTresholdInput()
</script>
{% endblock %}