{% extends "Layout.html" %}
{% block title %}Result{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/table.css') }}">
{% endblock %}
{% block navbar %}
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('get_main_page') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
    <a href="{{ url_for('upload_file_page') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Upload</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large  w3-white">Results</a>
    {% if user %}
    <div class="w3-bar-item w3-button w3-hide-small w3-padding-large  w3-white bar-right">{{user}}</div>
    <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white bar-right">Logout</a>
    <a href="{{ url_for('get_projects_solver') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white bar-right">Solver</a>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block body %}

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
     <h1>Results</h1>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>id</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for res in resList %}
            <tr>
              <td>{{res.name}}</td>
              <td>{{res.thr_id}}</td>
              <td><a href="{{ url_for('get_projects_result_list_show', id=res.thr_id) }}">Show</a></td>
              <td><a href="javascript:void(0)" onclick="deleteResult('{{ url_for('get_projects_result_list_delete', id=res.thr_id) }}')">Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  async function deleteResult(url){
      const response = await fetch(url, {
            method: 'DELETE'
        })
      location.reload()
  }
</script>
{% endblock %}