{% extends "Layout.html" %}
{% block title %}Upload{% endblock %}
{% block navbar %}
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar siemens-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large siemens-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('get_main_page') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
    <a class="w3-bar-item w3-button w3-hide-small w3-padding-large  w3-white">Start</a>
    {% if user %}
    <div class="w3-bar-item w3-button w3-hide-small w3-padding-large  w3-white bar-right">{{user}}</div>
    <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white bar-right">Logout</a>
    <a href="{{ url_for('get_projects_result_list') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white bar-right">Results</a>
    <a href="{{ url_for('get_projects_solver') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white bar-right">Solver Settings</a>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block body %}
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
     <h1>Upload experiment file</h1>
     <form method=post enctype=multipart/form-data class="fileupload">
        <input type=file name=file id="fileInput" multiple>
        <input type=submit value=Upload>
         {% if uploadedFilesLen > 0 %}
            <ul>
                {% for i in range(0, uploadedFilesLen) %}
                <li>{{ uploadedFiles[i] }} &emsp; <a href="javascript:void(0)" onclick="deleteExperiment('{{ url_for('delete_file', file=uploadedFiles[i]) }}')">remove</a></li>
                {% endfor %}
            </ul>
         {% endif %}
    </form>
    <a href="{{ url_for('get_projects_test') }}" class="w3-button siemens-blue w3-padding-large w3-large w3-margin-top w3-round">Loss Function Analysis</a>
    <a href="{{ url_for('get_projects_test2') }}" class="w3-button siemens-blue w3-padding-large w3-large w3-margin-top w3-round">Manual Estimation</a>
    <a href="{{ url_for('get_projects_params') }}" class="w3-button siemens-blue w3-padding-large w3-large w3-margin-top w3-round">Optimization</a>
    </div>
</div>
<script type="text/javascript">
  async function deleteExperiment(url){
      const response = await fetch(url, {
            method: 'DELETE'
        })
      location.reload()
  }
</script>
{% endblock %}